@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.creation-card {
  display: block;
  position: relative;
  overflow: hidden;
  color: $clr-white;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to top right,
      rgba(0, 0, 0, 0.65) 10%,
      rgba(0, 0, 0, 0) 70%
    );
    z-index: 1;
    transition: background-color 0.3s ease-in-out;
  }

  &:hover::before,
  &:focus-visible::before {
    background-color: rgba(255, 255, 255, 0.75);
  }

  &:hover .creation-card__title,
  &:focus-visible .creation-card__title {
    color: $clr-black;
  }

  &:hover .creation-card__image,
  &:focus-visible .creation-card__image {
    transform: scale(1.05);
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transition: transform 0.3s ease-in-out;
  }

  &__title {
    position: absolute;
    bottom: $spacing-400;
    left: $spacing-400;
    right: $spacing-400;
    z-index: 2;
    text-transform: uppercase;
    line-height: 1.1;
    max-width: 9ch;
    transition: color 0.3s ease-in-out;

    @include for-desktop-up {
      bottom: $spacing-500;
      left: $spacing-500;
      font-size: 2rem;
    }
  }
}
