@use "../abstracts/mixins" as *;

.our-creations {
  padding-block: $spacing-800;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: $spacing-600;

    .button {
      display: none;
    }

    @include for-tablet-up {
      margin-bottom: $spacing-400;
    }

    @include for-desktop-up {
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: $spacing-1000;

      .button {
        display: flex;
      }
    }
  }

  &__title {
    font-size: 2rem;
    text-transform: uppercase;
    color: $clr-black;

    @include for-tablet-up {
      font-size: $fs-h1-mobile;
    }

    @include for-desktop-up {
      font-size: $fs-h1-mobile;
    }
  }

  &__grid {
    display: grid;
    gap: $spacing-300;
    padding: 0 $spacing-300;
    margin-bottom: $spacing-500;

    @include for-tablet-up {
      padding: 0 $spacing-1000;
    }

    @include for-desktop-up {
      grid-template-columns: repeat(4, 1fr);
      gap: $spacing-400;
      padding: 0;
      margin-bottom: $spacing-800;
    }
  }

  &__footer {
    text-align: center;

    @include for-desktop-up {
      display: none;
    }
  }
}
