@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

body {
  font-family: $ff-josefin-sans;
  font-size: $fs-body;
  color: $clr-black;
  background-color: $clr-white;
  line-height: $lh-body;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
}
