@use "../abstracts/variables" as *;

h1,
h2,
h3 {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-light);
  text-transform: uppercase;
  color: var(--clr-primary-white);
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

p {
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}
