@use "../abstracts/variables" as *;

h1,
h2,
h3 {
  font-family: $ff-alata;
  font-weight: $fw-light;
  text-transform: uppercase;
  color: $clr-white;
}

h1 {
  font-size: $fs-h1-mobile;
}

h2 {
  font-size: $fs-h2-desktop;
}

h3 {
  font-size: $fs-h3;
}

p {
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}
